// UX Borders

.bg-color-red {
  background-color: $red;
}

.bg-color-green {
  background-color: $green;
}

.bg-color-cyan {
  background-color: $cyan;
}

.bg-color-yellow {
  background-color: $yellow;
}

.bg-color-grey {
  background-color: $gray-500;
}